.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.room-details-pl {
	margin-left: 121px;
}

.box {
	width: 391px;
    height: 41px;
    border: 1px solid #4943434d;
    margin-bottom: 13px;
}

.btn {
	padding: 0.375rem 10.75rem !important;
}